.logo-div-projects {
	/*transition: all 2s ease-in-out;*/
	width: 10vw;
	display: flex;
	justify-content: center;
}

.logo-img-projects {
	transition: all 2s ease-in-out;
	width: 10vw;
}

.spacer-projects, .aboutMe-projects, .projects-projects, .shop-projects {
	transition: all 2s ease-in-out;
	width: 12vw;
	white-space: nowrap;
}

.foreground-projects {
	/*transition: all 2s ease-in-out;*/
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	top: 0vw;
	left: 2vw;
}

.navigation-projects {
	/*transition: all 2s ease-in-out;*/
	display: flex;
	justify-content: space-evenly;
	font-size: 4vh;
	text-align: center;
}

.blue-selector-projects {
	transition: all 2s ease-in-out;
	margin-top: 1.5vw;
	margin-left: 77.5vw;
	width: 12vw;
	height: 6vh;
	background-color: var(--blue);
}

.aboutMeContent-projects {
	transition: all 2s ease-in-out;
	display: flex;
	position: absolute;
	justify-content: space-evenly;
	font-size: 0vh;
	width: 0vw;
	bottom: 0vh;
}

.selfie-div-projects {
	transition: all 2s ease-in-out;
	width: 100%;
}

.selfie-img-projects {
	transition: all 2s ease-in-out;
	width: 100%;
}

.projectsContent-projects {
	transition: all 2s ease-in-out;
	display: flex;
	position: absolute;
	justify-content: space-evenly;
	font-size: 4vh;
	width: 100vw;
	bottom: 0vh;
}